@model EntityLayer.Concrete.Writer

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Register</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				@using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
				{
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationCustom01">Name Surname</label>
							@Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
							@*							<input type="text" class="form-control" id="validationDefault01" name="WriterName" placeholder="" required="">
						*@
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Mail Adresi</label>
							@Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
@*							<input type="text" class="form-control" id="validationDefault02" name="WriterMail" placeholder="" required="">
*@						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Şifre</label>
							@Html.PasswordFor(x => x.WriterPassword, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
@*							<input type="password" class="form-control" id="password1" name="WriterPassword" placeholder="" required="">
*@						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Şifre Tekrar</label>
							@Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
@*							<input type="password" class="form-control" id="password2" name="ConfirmPassword" placeholder="" required="">
*@						</div>
					</div>
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="formFile" class="form-label">Profile Picture</label>
							<input class="form-control" type="file" name="WriterImage" id="formFile" accept="image/*">
							@Html.ValidationMessageFor(x => x.WriterImage, "", new { @class = "text-danger" })
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Şehir</label>
							<select class="form-control" id="validationDefault02" name="WriterCity" placeholder="" required="">
								<option value="izmir">İzmir</option>
								<option value="istanbul">İstanbul</option>
								<option value="ankara">Ankara</option>
							</select>
						</div>
					</div>
					<button type="submit" class="btn btn-primary submit mb-4">Register</button>
					<p>
						<a href="#" id="terms">I have read all the terms and conditions and I accept them.</a>
					</p>
				}
			</div>
		</div>
	</div>
	<br />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/coreblogtema/web/js/jquery-2.2.3.min.js"></script>
	<script src="~/writertema/assets/js/file-upload.js"></script>
	<script>
		$("#terms").click(function () {
			Swal.fire("Terms & Conditions","Text that contains all the terms & conditions."});
	</script>
</section>