@using EntityLayer.Concrete
@model Message

@{
	ViewData["Title"] = "MessageDetails";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Message Details</h4>
			<div class="form-group">
				<label for="msgSubject">Sender</label>
				<text class="form-control" id="msgSubject">@Model.Sender.WriterName</text>
			</div>
			<div class="form-group">
				<label for="msgSubject">Subject</label>
				<text class="form-control" id="msgSubject">@Model.Subject</text>
			</div>
			<div class="form-group">
				<label for="msgContent">Content</label>
				<textarea class="form-control" id="msgContent" rows="4" disabled>@Model.MessageDetails</textarea>
			</div>
			<button type="submit" onclick="sendMessage(@Model.SenderID)" class="btn btn-gradient-primary mr-2">Reply</button>
		</div>
	</div>
</div>

<script src="~/coreblogtema/web/js/jquery-2.2.3.min.js"></script>

<script>
	function sendMessage(id) {
		var url = '@Url.Action("SendMessage", "Message")';

		var fullUrl = url + '?id=' + id;

		window.location.href = fullUrl;
	}
</script>
